.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ajusta según sea necesario */
}

.container {
  display: flex; /* Usar flex para alinear la imagen y el formulario */
  justify-content: space-between; /* Espacio entre la imagen y el formulario */
  align-items: center; /* Alinear verticalmente */
  width: 80%; /* Ajusta el ancho según sea necesario */
}

.form-image {
  flex: 1; /* Permitir que la imagen ocupe espacio disponible */
  display: flex; /* Usar flex para centrar la imagen */
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
}

.form-section {
  flex: 1; /* Permitir que el formulario ocupe espacio disponible */
  padding: 20px; /* Espacio interno para el formulario */
}

.form-group {
  margin-bottom: 15px; /* Espacio entre campos del formulario */
}

.button-container {
  display: flex;
  justify-content: space-between; /* Espacio entre los botones */
  margin-top: 20px; /* Espacio arriba de los botones */
}

.btn-guardar,
.btn-cancel {
 
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.btn-guardar:hover,
.btn-cancel:hover {
  opacity: 0.8; /* Efecto hover */
}


  
  /* Grid con dos columnas: divide el contenido */
  .form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas iguales */
    gap: 20px;
  }
  
  /* Cada grupo de formulario está en columna */
  .form-group {
    display: flex;
    flex-direction: column;
  }
  
  /* Input y select general */
  input, select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-top: 5px;
  }
  
  /* Botón de envío */
  .btn-guardar {
    
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    margin-top: 20px;
  }
  
  .btn-submit:hover {
    background-color: #003483;
  }
  
  /* Responsividad para pantallas pequeñas */
  @media (max-width: 768px) {
    .form-grid {
      grid-template-columns: 1fr; /* Colapsa a una columna en pantallas pequeñas */
    }
  }
  
  select {
    white-space: nowrap; /* Evita que el texto se corte */
    overflow: hidden;
    text-overflow: ellipsis; /* Muestra puntos suspensivos si el texto es demasiado largo */
  }