
/* Contenedor principal */
.container-editar-cita {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
  margin: 50px auto;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.77);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  flex-wrap: wrap; /* Permite que los elementos se ajusten automáticamente en pantallas pequeñas */
}

/* Contenedor de la imagen */
.form-image {
  flex: 0.5; /* Haciendo que la imagen ocupe menos espacio */
  display: flex;
  justify-content: center; /* Centrando horizontalmente */
  align-items: center; /* Centrando verticalmente */
  margin-top: 150px; /* Ajusta este valor para mover la imagen hacia abajo */
}

.form-image img {
  max-width: 75%; /* Reducción del tamaño de la imagen */
  border-radius: 10px;
  object-fit: cover;
}

/* Contenedor del formulario */
.form-container {
  flex: 2; /* Haciendo el formulario más ancho */
  margin-left: 20px;
}

/* Título */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* Estilos del formulario */
.formulario-editar {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Estilos de los grupos de formularios */
.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 16px;
  margin-bottom: 5px;
  color: #333;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  background-color: #fff;
}

.form-group input:focus,
.form-group select:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

/* Botones */
.form-buttons {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.btn-submit,
.btn-cancel {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit {
  background-color: #007bff;
  color: white;
}

.btn-submit:hover {
  background-color: #0056b3;
}

.btn-cancel {
  background-color: #dc3545;
  color: white;
}

.btn-cancel:hover {
  background-color: #c82333;
}

/* Responsivo */
@media (max-width: 768px) {
  .container-editar-cita {
      flex-direction: column; /* Cambia la dirección del contenido a columna */
      width: 90%; /* Ajusta el ancho en pantallas pequeñas */
  }

  .form-image {
      display: none; /* Oculta la imagen en pantallas pequeñas */
  }

  .form-container {
      margin-left: 0; /* Elimina el margen izquierdo */
      width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
  }
}
