/* Contenedor principal con Flexbox */
.planilla-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
    background-color: rgba(255, 245, 221, 0.77);
  }
  
  /* Contenedor de la imagen */
  .image-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 1rem;
    flex: 1;
    background-color: #E5F3FF; /* Color de fondo azul */
    padding: 5rem;
    border-radius: 10px; /* Bordes redondeados */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  /* Imagen del perro */
  .dog-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
    max-width: 400px; /* Aumentar el tamaño de la imagen */
    margin-top: 400px; /* Mueve la imagen un poco hacia abajo */
  }
  
  /* Contenedor del formulario */
  .form-container {
    flex: 2;
    max-width: 600px;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  /* Estilos de los campos de formulario */
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    color: #333333;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"],
  input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 2px solid #E5F3FF;
    background-color: #ffffff;
  }
  
  /* Botón de envío */
  .btn-block {
    width: 100%;
    padding: 10px;
    background-color: #DCEEFF;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    transition: background-color 0.3s ease;
  }
  
  .btn-block:hover {
    background-color: #bcdff7;
    cursor: pointer;
  }
  