.header-container {
  display: flex;
  justify-content: space-between; /* Espacio entre el título y el botón */
  align-items: center; /* Alinear verticalmente */
  margin-bottom: 20px; /* Espacio debajo del contenedor */
  width: 100%; /* Asegura que el contenedor ocupe todo el ancho */
}

.planilla-title {
  flex: 1; /* Permite que el título ocupe el espacio disponible */
  text-align: center; /* Centrar el texto del título */
  margin: 0; /* Eliminar márgenes predeterminados */
}

.download-all-button {
 
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}



.planilla-section {
  padding: 2rem;
  background-color: #E5F3FF;
  text-align: center; /* Centrar todos los textos dentro de este contenedor */
}

.planilla-container {
  max-width: 1300px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9); /* Color de fondo con mayor transparencia */
  padding: 2rem;
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
  overflow-x: auto; /* Hacer que la tabla sea desplazable horizontalmente */
}

.planilla-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem; /* Espacio arriba de la tabla */
  min-width: 1000px; /* Asegurar que la tabla tenga un ancho mínimo para que no se compacte en pantallas pequeñas */
}

.planilla-table th,
.planilla-table td {
  border: 1px solid #ddd;
  padding: 15px; /* Incrementar padding para mayor espacio */
  text-align: center;
  font-size: 14px; /* Tamaño de texto un poco más grande */
}

.planilla-table th {
  background-color: #DCEEFF;
  color: #333;
  font-weight: bold;
  font-size: 15px;
}

.planilla-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.planilla-table tr:hover {
  background-color: #f1f1f1;
  transition: background-color 0.3s ease; /* Transición suave al pasar el mouse */
}

/* Estilo de los títulos */
h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 1rem;
  text-align: center;
}

/* Espacio adicional en la parte inferior de la tabla */
.planilla-table {
  margin-bottom: 2rem; /* Espacio abajo de la tabla */
}

/* Ajustes para pantallas pequeñas */
@media screen and (max-width: 1024px) {
  .planilla-container {
    padding: 1rem;
  }

  h2 {
    font-size: 22px;
  }
}

@media screen and (max-width: 768px) {
  .planilla-container {
    padding: 1rem;
  }

  .planilla-table {
    min-width: 600px; /* Aseguramos que la tabla tenga al menos este tamaño, y que sea desplazable horizontalmente si es necesario */
  }

  .planilla-table th,
  .planilla-table td {
    padding: 10px;
    font-size: 12px;
  }

  h2 {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  .planilla-table th,
  .planilla-table td {
    padding: 8px;
    font-size: 11px;
  }

  h2 {
    font-size: 18px;
  }
}
