.background {
    position: relative;
    min-height: 100vh; /* Asegura que cubra toda la pantalla */
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Desactiva el scroll en toda la página */
  }
  
  .background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/backgroundCalendario.jpeg');
    background-size: cover;
    background-position: center;
    opacity: 0.77;
    z-index: -1;
  }
  
  /* Modal de éxito */
.modal-success {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #4CAF50; /* Verde de éxito */
  color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  font-size: 18px;
  z-index: 1000;
  text-align: center;
}


.overlay-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.form-container {
  background-color: white;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-submit {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #45a049;
}
