.containerf{
  background-color: #E5F3FF;
  width: 60%;
    max-height: 750px;
    margin: 50px auto;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1); /* Sombra suave */
    padding: 20px;
    font-family: 'Arial', sans-serif;
    position: relative; /* Asegura que los elementos dentro se puedan mover con más flexibilidad */
    overflow: hidden; /* Asegura que no se desborde */
}
.footer {
    background-color: #FFF5DD; /* Color oscuro de fondo */
    color: #fff;
  }
  
  .footer h5 {
    color: #000000;
    font-weight: bold;
  }
  
  .footer p {
    color: #6b6b6b;
    line-height: 1.8;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer ul li {
    color: #6b6b6b;
    margin-bottom: 10px;
  }
  
  .social-icons {
    display: flex;
    gap: 15px;
  }
  
  .social-icon {
    color: #000; /* Cambia el color a negro para que sea visible */
    font-size: 24px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .social-icon:hover {
    color: #FFF5DD; /* Mantén el efecto hover */
  }
  
  